@import "~react-toolbox/components/commons";

.content {
  padding: $unit;
}

.navigationButtons {
  flex-grow: 1;
  text-align: right;
}

.appBarLink {
  padding: $unit;
}

.loginButton {
  flex-grow: 1;

}
